{% extends 'base.html' %}

{% block title %}
    Main page
{% endblock %}

{% block content %}
<p id="message" >Пожалуйста, заполните все поля формы!</p>
<form method="post" onsubmit="return ValidPhone();">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Enter your name" name="username">
    <small id="emailHelp" class="form-text text-muted">We'll never share your data with anyone else.</small>
  </div>
  <div class="form-group">
    <label>Phone number</label>
    <input type="number" class="form-control" placeholder="Enter your number" name="phone" id="phone">
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>

{% endblock %}

{% block script %}
  <script type="text/javascript">
  function ValidPhone() {
    var re = /^\d[\d\(\)\ -]{4,14}\d$/;
    var myPhone = document.getElementById('phone').value;
    var valid = re.test(myPhone);
    if (valid) output = 'Номер телефона введен правильно!';
    else output = 'Номер телефона введен неправильно!';
    document.getElementById('message').innerHTML = document.getElementById('message').innerHTML+'<br />'+output;
    return valid;
  }

  </script>
{% endblock %}
